html {
	background: #e24c0c;
	color: #e24c0c;
	font-family: Helvetica, sans-serif;
	padding-left:1.5em;
	padding-right: 1.5em;
	padding-top: 1em;
	font-size: 1.1em;
}

h1::selection, h2::selection, h3::selection, a::selection, p::selection {
	color: #e24c0c;
	background-color: #fdf5e5;
}

body {
	border: e24c0c solid 5px;
	box-shadow: 4px 4px 15px black;
	border-radius: 10px;
	padding: 2em;
	background-color: #fdf5e5;
	width: 70vw;
	margin: auto;
}

/* grid */

.grid {
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5vh;
	margin-top: 1em;
}

.studio-projects {
	grid-column: 1;
	padding: 1vh 3vh;
	border: #e24c0c solid 3px;
	border-radius: 10px;
	transition: 1s;
	box-shadow: 2px 2px 5px black;
	}

.studio-projects:hover {
	transform: scale(1.05);
	transition: 1s;
}

.studio-workshops {
	grid-column: 2;
	padding: 2vh 5vh;
	border: #e24c0c solid 3px;
	border-radius: 10px;
	transition: 1s;
	box-shadow: 2px 2px 5px black;
}

.studio-workshops:hover {
	transform: scale(1.05);
	transition: 1s;
}

/* styles */

ul {
	list-style: none;
	padding: 0;
	line-height: 1.3em;
}

h1 {
	text-transform: uppercase;
	font-size: 3.85vw;
	margin: 0;
	margin-bottom: 0.7em;
}

h2 {
	margin-top: 0;
	line-height: 0.7em;
	font-size:1.75em;
}

h3 {
	font-size: 1.1em;
	text-transform: uppercase;
}


a {
	text-decoration: none;
	color:#e24c0c;
}

a:hover {
	color: #000000;
}

.subtitle {
	font-weight: bold;
}